:root {
    /* Primary colors */
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    /* Secondary colors */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
}

main {
    background-color: var(--white);
    padding: 3%;
}

/* Navbar Style */

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    background-color: var(--white);
    border-bottom: 1px var(--grayishBlue) solid;
}

.links-container {
    display: none;
}

.logo {
    margin-right: 8%;
}

.cart-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    width: 20%;
}

.avatar {
    width: 30%;
}

.menu {
    width: 1.5rem;
}

/* Products/main style */

.product {
    width: 70%;
}